*{
    margin: 0;
}

.logo{
    height: 50px;
    padding-top: 5px;
}

/* .logo:hover{
    border: 1px solid white;
    border-radius: 2px;
} */

a{
    cursor: pointer;
    text-decoration-line: none;
}

.arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #b8bec5;
    position: relative;
    top: 15px;
    margin-left: 5px;
}

a:hover{
    border: 1px solid white;
    border-radius: 2px;
}

header{
    background-color: #131921;
    display: flex;
    gap: 10px;
    padding-bottom: 2px;
    /* padding: 5px; */
}

.location{
    display: flex;
    align-items: center;
}

.location-img{
    height: 18px;
    width: 18px;
    padding: 0;

}

.upper-text{
    color: rgb(204, 204, 204);
    font-size:12px;
    font-weight:700;
    padding: 10px;
    padding-bottom: 0;


}

.lower-text{
    font-size:14px;
    font-weight:bold;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 0;
}

.search {
    height: 38px;
    display: flex;
    flex: 1;
    max-width: 1035px;
    padding: 10px;
}


.search select {
    width: 70px;
    border: none;
    background-color: #e6e6e6;
    padding: 0 12px;
    font-size: 15px;
    color: #555;
    border-radius: 5px 0 0 5px;
}


.search input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 20px;
}


.search button {
    width: 62px;
    border: none;
    background-color: #febd69;
    font-size: 28px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;

    color: white;
    text-decoration: none;
    font-weight: bold;

    /* padding: 8px; */
}

.language img {
    width: 22px;
    height: 15px;
}

.order-no{
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    /* position: absolute; */
    right: 6px;
    margin-top: 10px;

}

.cart{
    align-items: center;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
   
}

.cart-logo{
    height: 45px;
    padding-top: 5px;
}

nav{
    background-color: #232f3e;

    display: flex;
    align-items: center;
    padding: 10px;

    gap: 10px;

}

.nav-a{
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin: 0;

}