<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>


    <link rel="stylesheet" href="static/css/navbar.css">
</head>


<body>


    <header class="navbar">


        <!-- LOGO -->
        <div >
            <img class="logo" src="static/images/amazon_logo.png" alt="sf">
        </div>




        <!-- LOCATION -->
        <div class="location">

        
            <div class="location-icon">
                <img src="static/images/"
            </div>


            <div class="location-text">
                Delivering to Sonipat 131021
                <br>
                <strong>Update location</strong>
            </div>


        </div>




        <!-- SEARCH -->
        <div class="search">


            <select>
                <option>All</option>
                <option>Amazon Devices</option>
                <option>Books</option>
                <option>Electronics</option>
                <option>Fashion</option>
            </select>


            <input
                type="text"
                placeholder="Search Amazon.in"
            >


            <button>
                🔎
            </button>


        </div>

        <div>

   
    




        






    </header>
  


</body>
</html>