<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div>
        <a>
        <img class="logo" src="static/images/amazon_logo.png" alt="jj" />
        </a>
      </div>

      <a href="#" class="location">
        <img class="location-img" src="static/images/location.png" />
        <div>
          <p class="upper-text">Delivering to Sonipat 131021</p>
          <p class="lower-text">Update Location</p>
        </div>
      </a>

      <div class="search">
        <select>
          <option>All</option>
          <option>Amazon Devices</option>
          <option>Books</option>
          <option>Electronics</option>
          <option>Fashion</option>
        </select>
        <input type="text" placeholder="Search Amazon.in" />
        <button class="fa-solid fa-magnifying-glass"></button>
      </div>

      <a class="language" href="#">
        <img src="static/images/flag.png" alt="India">
        <span>EN</span>
        <span class="arrow" style="top: 2px;"></span>
    </a>

      <a class="sign-in">
        <p class="upper-text">Hello, sign in</p>
        <p class="lower-text">Account & List</p>
      </a>

      <a class="orders">
        <p class="upper-text">Return</p>
        <p class="lower-text">& Orders</p>
      </a>

      <a class="cart">
        <!-- <p class="order-no">0</p>
        <p class="fa-solid fa-cart-shopping"></p> -->
        <img class="cart-logo" src="static/images/cart.png">
      </a>
    </header>

    <nav >
        <div class="nav-div">
             <a class="nav-a" style="font-weight: bold; ">
            <i class="fa-solid fa-bars" style="color: white;"></i>
           ALL</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Fresh</a>
            <span class="arrow"></span>
        </div>
        <div class="nav-div">
            <a class="nav-a">Prime Video</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Sell</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Bestsellers</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Today's Deals</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Mobiles</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">New Releases</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Customer Service</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Prime</a>
            <span class="arrow"></span>
        </div>
        <div class="nav-div">
            <a class="nav-a">Electronics</a>
        </div>
        <div class="nav-div">
            <a class="nav-a">Amazon Pay</a>
        </div>
    </nav>
  </body>
</html>